<header class="navbar navbar-fixed-top navbar-inverse" role="banner">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-navbar">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to "ProfitCruncher", root_path, id: "logo", class: "navbar-brand" %>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<nav id="main-navbar" class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path, class: "active" %></li>
				<li><%= link_to "Gross Profit Calculator", gross_profit_calculator_path %></li>
				<li><%= link_to "Markup Calculator", markup_calculator_path %></li>
        <li class="dropdown">
        	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Sales Promotion Calculators <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sales Lift Calculator", sales_lift_calculator_path %></li>
            <li><%= link_to "Work to Goal Calculator", work_to_goal_calculator_path %></li>
          </ul>
        </li>
			</ul>
		</nav>
	</div>
</header>